body {
  background-color: #111;
  color: #fff;
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.loading{
  text-align: center;
  padding: 100px;
}

.pagination{
  display:flex;
  align-items:center;
  justify-content:center;
  gap:20px;
  margin: 24px 0 48px;
}

.page-info{ color: #fff; font-weight:600 }

.btn-pagina{
      color: black;
    background-color: white;
    padding: 8px 20px;
    border-radius: 5px;
    font-weight: 600;
    transition: transform 0.5s ease;
    cursor: pointer;
    border: none;
}

.btn-pagina:disabled{
  opacity: 0.5;
  transform: none;
  cursor: not-allowed;
}


.lista-filmes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 2rem;
  justify-items: center;
  align-items: start;
  margin-bottom: 50px;
}

.filme {
  background-color: #111;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 100%;
  max-width: 250px;
  display: flex;
  flex-direction: column;
  height: 480px;
}

.filme:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.5);
}

.filme img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  display: block;
  border-radius: 12px 12px 0 0;
}

.filme h2 {
  flex-grow: 1;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 600;
  color: #fff;
  margin: 10px 0;
  padding: 0 8px;
  line-height: 1.3;
  display: flex;
  align-items: end;
  justify-content: center;
  text-align: center;
}


@media (max-width: 768px) {
  .filme {
    height: 350px;
  }

  .filme img {
    height: 260px;
  }

  .filme h2 {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .lista-filmes {
    gap: 1rem;
  }

  .filme {
    height: 330px;
  }

  .filme img {
    height: 220px;
  }
}
