footer{
    padding: 50px;
    text-align: center;
}

footer p{
    font-style: italic;
    font-weight: lighter;
}

footer a{
    color: white;
    font-weight: bold;
}

footer a:hover{
    color: #6D5BFF;;
}